In [26]:
from Univariate import Univariate
import pandas as pd
dataset=pd.read_csv("Placement.csv")

In [39]:
quan,qual=Univariate.quan_qual(dataset)

In [40]:
descriptive_analysis_table=pd.DataFrame()

In [41]:
descriptive_analysis_table=pd.DataFrame(index=["Mean","Median","Mode"],columns=quan)
descriptive_analysis_table

       sl_no ssc_p hsc_p degree_p etest_p mba_p salary
Mean     NaN   NaN   NaN      NaN     NaN   NaN    NaN
Median   NaN   NaN   NaN      NaN     NaN   NaN    NaN
Mode     NaN   NaN   NaN      NaN     NaN   NaN    NaN

In [56]:
for columnName in quan:
    descriptive_analysis_table[columnName]["Mean"]=dataset[columnName].mean()
    descriptive_analysis_table[columnName]["Median"]=dataset[columnName].median()
    descriptive_analysis_table[columnName]["Mode"]=dataset[columnName].mode()[0]

In [57]:
descriptive_analysis_table

       sl_no    ssc_p    hsc_p degree_p  etest_p    mba_p  salary
Mean     108  67.3034  66.3332  66.3702  72.1006  62.2782  288655
Median   108       67       65       66       71       62  265000
Mode       1       62       63       65       60     56.7  300000